
  /* Slider style */
  .slider {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
  }
  
  /* Slide style */
  .slideClass {
    padding: 0;
    flex: 0 0 auto;
    margin-right: 1%; /* Adjust the margin between slides */
  }
  
  .slideClass img {
    width: 100%;
  }

  .shadowedThumbnail {
    opacity: 0.6; /* Adjust opacity as needed */
    transition: opacity 0.3s ease-in-out;
  }
  
  .focusedThumbnail {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .text {
    padding-top: 2%;
    font-family: 'Trajan', sans-serif; 
    font-size: 30px; 
    color: #000000; 
     text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.5); 
    
  }
  .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trajan', sans-serif; 

  }

  .info-text{
    font-family: 'Trajan', sans-serif; 
    color: #000000; 
    
  }

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slideInfo {
    background-color: rgba(172, 167, 168, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .customPrevButton {
    position: absolute;
    top: 20%;
    left: 20px; 
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(8, 176, 248); 
  }
  
  .customNextButton {
    position: absolute;
    top: 20%;
    right: 20px; 
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(8, 176, 248); 

  }

  .selectedMovieReviews {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .selectedMovieReviews h3 {
    margin-bottom: 10px;
  }
  
  .selectedMovieReviews ul {
    list-style-type: none;
    padding: 0;
  }
  
  .selectedMovieReviews li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .selectedMovieReviews li:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .leaveReview {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .leaveReview textarea {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .leaveReview label {
    display: block;
    margin-bottom: 5px;
  }
  
  .leaveReview .ratingContainer {
    display: flex;
    align-items: center;
  }
  
  .leaveReview button {
    margin-top: 10px; /* Add margin-top for spacing */
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .leaveReview button:hover {
    background-color: #45a049;
  }
  
  .leaveReview button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  